<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>September Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<div th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}" th:text="#{nav.home}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Shop' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/shop}" th:text="#{nav.shop}">Shop</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Cart' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/cart}" th:text="#{nav.cart}">Cart</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                    th:classappend="${activeTab == 'AdminDashboard' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/admin}" th:text="#{admin.board}">Admin Dashboard</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Logout" th:value="#{nav.logout}"/>
                    </form>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                        <div class="input-group-prepend">
                            <input class="form-control" type="text" placeholder="Login" name="username"
                                   aria-describedby="inputGroup-sizing-sm" th:placeholder="#{nav.login}">
                            <input class="form-control" type="text" placeholder="Password" name="password"
                                   aria-describedby="inputGroup-sizing-sm" th:placeholder="#{nav.password}">
                            <button class="btn btn-primary btn-sm" type="submit" th:text="#{nav.login.submit}">Log In</button>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#signin" th:text="#{reg.signIn}">Sign in</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
<!--    Форма быстрой регистрации-->
    <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="#{reg.signIn}">Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'/signin'}" method="post">
                        <div class="form-group">
                            <label for="input-phone" class="col-form-label" th:text="#{order.phone}">Phone:</label>
                            <input id="input-phone" type="text" class="form-control" name="phone" pattern="\++\d{11}">
                            <small th:text="#{reg.phone.rec}"></small>
                        </div>
                        <div class="form-group">
                            <label for="input-password" class="col-form-label" th:text="#{nav.password}">Password:</label>
                            <input id="input-password" class="form-control" type="password" name="password" minlength="5">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" th:text="#{reg.signIn}">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>