<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Items</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h1 th:text="#{greet}"></h1>
<!--           Replace fragment Навигация-->
            <br>
            <div th:replace="~{navigation :: navigation('Shop')}"></div>
            <br>
        <!--    Блок фильтров и сортировки -->
            <div>
                <form th:action="@{'/shop'}" method="get" class="form-inline">
                    <span th:text="#{filters}">Параметры фильтра:</span>
                    <input th:name="keyword" type="text" th:value="${param.keyword}" class="form-control" th:placeholder="#{filters.keyword}">
                    <input th:name="minPrice" type="number" th:value="${param.minPrice} " class="form-control" th:placeholder="#{filters.price.min}">
                    <input th:name="maxPrice" type="number" th:value="${param.maxPrice}" th:placeholder="#{filters.price.max}" class="form-control">
                    <select class="form-control" th:name="itemsNumber" size="1">
                        <option th:value="5">5</option>
                        <option selected th:value="10">10</option>
                        <option th:value="15">15</option>
                    </select>
                    <button type="submit" class="btn btn-primary" th:text="#{filters.apply}">Фильтровать</button>
                    <a class="btn btn-danger" th:href="@{'/shop'}" th:text="#{filters.reset}">Сброс фильтра</a>
                </form>
            </div>
            <br>
            <!--    Блок демонстрации результата-->
            <div th:if="${pageItems.getContent().size()>0}">
                <h2 >Items:</h2>
                <table class="table table-hover" >
                    <thead class="thead-dark">
                        <tr>
                            <th>Название</th>
                            <th>Price</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${pageItems.getContent()}">
                            <td><a th:text="${item.title}" th:href="@{'/showItemCard/'+${item.id}}">Item</a></td>
                            <td th:text="${item.price}"/>
                            <td>
                                <a th:href="@{'/shop/add?id=' + ${item.id}}" class="btn btn-success" th:text="#{shop.add}">Add to Cart</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--   Fragment Навигация-->
            <div th:replace="~{pagination :: pagination}"/>
            <!--  Последние просмотренные товары          -->
            <div th:replace="~{last_viewed_items_template::lastItems }">
        </div>
    </body>
</html>